<div class="lightbox" data-state="hidden">
  <div class="lightbox-container">
    <div class="btn-close icon-link">
      <i class="icon i-16 i-close"></i>
      <span class="icon-label hidden">Close</span>
    </div>
    <div class="btn-previous lightbox-controls lightbox-controls-previous icon-link">
      <i class="icon i-32 i-arrow-left"></i>
      <span class="icon-label hidden">prev</span>
    </div>
    <div class="btn-next lightbox-controls lightbox-controls-next icon-link">
      <i class="icon i-32 i-arrow-right"></i>
      <span class="icon-label hidden">next</span>
    </div>
    <div class="lightbox-content">
      <img alt="" class="lightbox-img" src="" >
    </div>
  </div>
</div>
<div class="lightbox-switch"></div>

